.git
.gitignore
.dockerignore
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
test
*.test.js
coverage
.DS_Store
Thumbs.db
Dockerfile*
docker-compose*.yml
README.md
build-dist
reports
security
